{% extends 'base.html.twig' %}

{% block title %}List of games{% endblock %}

{% block body %}

<div class="container">
    <h1>All games</h1>

    <div class="container">
        <div class="row row-cols-auto">
            {% for game in games %}
                <div class="card col" style="width: 18rem;">
                    {% if game.background_image %}
                        <img src={{ game.background_image }} class="card-img-top" alt={{ game.name }}>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ game.name }}</h2>
                        <a href="#" class="btn btn-primary">See more</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
