{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid m-5">
		<div class="row justify-content-center">
			<div class="col-12">
				<h1 class="text-center">Cherche un jeu : </h1>
			</div>
			<div class="row justify-content-center align-items-center">
				<div class="col-6">
					{{ form(form) }}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
